*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green{
    color: #b7ea8c;
}
/* 

NAVIGATION BAR 

*/

.logo{
    height: 11vh;
}

a{
    text-decoration: none;
}

nav {
    position: relative;
    height: 13vh;
    display: flex;
    background-color: #f6f6f6;
}
.nav_container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
ul{
    display: flex;
}

li{
    list-style-type: none;
}
.nav_link{
    margin: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #6A994E;
    font-weight: bold;
    padding: 8px;
}
.nav_link:hover {
    text-decoration:underline;
}

/*

HOME 

*/
.Container_Home {
    background-image: linear-gradient(to top,#0050047a,transparent), url(/Images/Bg.jpg);
    height:87vh;
    width:100%; 
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}

.Home_Title{
    text-align: center;
    color: white;
}
.Home_Title h1{
    margin-bottom:1vh;
    font-size: 50px;
}

.Home_Title h4{
    font-size: 20px;
}

.but{
    margin-top: 4vh;
}

button{
    width: 24vh;
    height: 8vh;
    border:none;
    border-radius: 16px;
    font-weight: 650;
    cursor: pointer;
}

.donate{
    color: #6A994E;
    font-size: 18px;

}

.join{
    color: #6A994E;
    font-size: 18px;
    margin-left:4vh;
}


.donate:hover{
    background-color:#d7f3bf;
    border: #cbf1ac;
}

.join:hover{
    background-color:#e1e1e1;
    border: #cbf1ac;
}

/*

ABOUT US 

*/

.Container_About {
    display:flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 80vh;
    height: 100%;
}